<span class="flow_line flow_top"></span>

    <div class="text-center center-block">
        <p id="social_heading" class="txt-railway">Speak of the Devil...</p>
        <br />
        <a href="#">
            <i id="social_gp" class="fa fa-google-plus-square fa-5x social"></i>
        </a>
        <a href="#">
            <i id="social_fb" class="fa fa-facebook-square fa-5x social"></i>
        </a>
        <a href="#">
            <i id="social_pi" class="fa fa fa-pinterest-square fa-5x social"></i>
        </a>
        <a href="#">
            <i id="social_tw" class="fa fa-twitter-square fa-5x social"></i>
        </a>
    </div>

    <hr>

    <div class="rights">
        <p>Detail Devil<span class="sup">&reg;</span> is the registered trademark of Final Project Group, Inc. All rights reserved.</p>
    </div>