<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>DETAIL DEVIL</title>

    <link rel="icon" type="image/png" href="assets/images/burn.png">
    <link rel="stylesheet" href="/assets/css/reset.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    {{!-- <link rel="stylesheet" href="/assets/css/nav.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/footer.css" type="text/css"> --}}
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css">
</head>

<body>

    <nav id="siteNav" class="navbar navbar-default navbar-relative-top" role="navigation">

     {{> nav }}

    </nav>

            {{{ body }}}

    <footer class="page-footer">

        {{> footer }}

    </footer>

<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.compatibility.min.js"></script>
{{!-- <script src="/assets/js/nav.js"></script>
<script src="/assets/js/footer.js"></script> --}}
<script src="/assets/js/main.js"></script>
<script src="/assets/js/reactapp.bundle.js"></script>
</body>

</html>