{{!-- Dummy Detail Page Content --}}

<section class="detail">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 class="section-heading">Details</h2>
            </div>
        </div>
    </div>
</section>