<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2 class="section-heading" id="root"></h2>
        </div>
    </div>
    this is where react goes
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa voluptatem enim nemo laboriosam obcaecati. Magni quis officiis eum laborum amet aliquam in eos. Animi aut iusto minus vero, voluptate facere?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa voluptatem enim nemo laboriosam obcaecati. Magni quis officiis eum laborum amet aliquam in eos. Animi aut iusto minus vero, voluptate facere?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa voluptatem enim nemo laboriosam obcaecati. Magni quis officiis eum laborum amet aliquam in eos. Animi aut iusto minus vero, voluptate facere?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa voluptatem enim nemo laboriosam obcaecati. Magni quis officiis eum laborum amet aliquam in eos. Animi aut iusto minus vero, voluptate facere?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa voluptatem enim nemo laboriosam obcaecati. Magni quis officiis eum laborum amet aliquam in eos. Animi aut iusto minus vero, voluptate facere?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa voluptatem enim nemo laboriosam obcaecati. Magni quis officiis eum laborum amet aliquam in eos. Animi aut iusto minus vero, voluptate facere?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa voluptatem enim nemo laboriosam obcaecati. Magni quis officiis eum laborum amet aliquam in eos. Animi aut iusto minus vero, voluptate facere?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa voluptatem enim nemo laboriosam obcaecati. Magni quis officiis eum laborum amet aliquam in eos. Animi aut iusto minus vero, voluptate facere?
</div>