{{!-- Initial View --}}
<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>The Devil is in the Detail</h1>
            <h3>Auto-Detailer booking so easy, it's sinful</h3>
            <a href="#" class="btn btn-lg btn-block sharp ctaOne">What the Devil? Tell Me More</a>
            <a href="#" class="btn btn-lg btn-block sharp ctaOne">This Speed Demon Wants To Get Started</a>
        </div>
    </div>
</header>


{{!-- About Us Section --}}
<section class="intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <span class="#"></span>
                <h2 class="section-heading">About Us</h2>
            </div>
        </div>
    </div>
</section>

{{!-- Testimonial Section --}}
<section class="content content-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 class="section-header">Testimonials</h2>
            </div>
            {{!-- <div class="col-sm-6">
                <img class="img-responsive img-circle center-block" src="#" alt="">
            </div> --}}
        </div>
    </div>
</section>

{{!-- Call to Action Section --}}
<section class="content content-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 class="section-header">Ready to make a deal with the Detail Devil?</h2>
                <a href="#" class="btn btn-danger btn-lg sharp">H-E-Double-Hockey-Sticks yes!</a>
                <a href="#" class="btn btn-danger btn-lg sharp">Tempting... but not right now</a>
            </div>
        </div>
    </div>
</section>

{{!-- Contact Us Section --}}
<section class="content content-3">
    <div class="contact-container">
    <form id="contact-form" action="" method="post">
        <h3>Contact Us</h3>
        <h4>Got a question?</h4>
        <fieldset class="contact-fieldset">
            <input placeholder="Your name" type="text" tabindex="1" required autofocus>
        </fieldset>
        <fieldset class="contact-fieldset">
            <input placeholder="Your Email Address" type="email" tabindex="2" required>
        </fieldset>
        <fieldset class="contact-fieldset">
            <input placeholder="Your Phone Number (optional)" type="tel" tabindex="3" required>
        </fieldset>
        <fieldset class="contact-fieldset">
            <input placeholder="Your Web Site (optional)" type="url" tabindex="4" required>
        </fieldset>
        <fieldset class="contact-fieldset">
            <textarea placeholder="Type your message here...." tabindex="5" required></textarea>
        </fieldset>
        <fieldset class="contact-fieldset">
            <a href="#" class="btn btn-lg btn-block sharp" name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</a>
        </fieldset>
    </form>
</div>
</section>



{{!-- LOGIN OVERLAY --}}


{{!-- LOGIN POPUP BOX
<section class="form-light">

    <div class="card">

        <div class="card-body mx-4">

            <div class="text-center">
                <h3 class="pink-text mb-5">
                    <strong>Log In</strong>
                </h3>
            </div>

            <div class="md-form">
                <input type="text" id="Form-email2" class="form-control">
                <label for="Form-email2">Your email</label>
            </div>

            <div class="md-form pb-3">
                <input type="password" id="Form-pass2" class="form-control">
                <label for="Form-pass2">Your password</label>
                <div class="form-group">
                        <a href="#" class="blue-text">Forgot your password?</a>
                </div>
            </div>

            <div class="row d-flex align-items-center mb-4">

                <div class="col-md-3 col-md-6 text-center">
                    <button type="button" class="btn btn-pink btn-block btn-rounded z-depth-1">Log In</button>
                </div>
            
                <div class="col-md-6">
                    <p class="font-small grey-text d-flex justify-content-end">Don't have an account?
                        <a href="#" class="blue-text ml-1"> Sign up</a>
                    </p>
                </div>

            </div>
        </div>

        <div class="footer pt-3 mdb-color lighten-3">

            <div class="row d-flex justify-content-center">
                <p class="font-small white-text mb-2 pt-3">or Sign up with:</p>
            </div>

            <div class="row mt-2 mb-3 d-flex justify-content-center">
                <a class="icons-sm fb-ic">
                    <i class="fa fa-facebook white-text fa-lg"> </i>
                </a>
                <a class="icons-sm tw-ic">
                    <i class="fa fa-twitter white-text fa-lg"> </i>
                </a>
                <a class="icons-sm gplus-ic">
                    <i class="fa fa-google-plus white-text fa-lg"> </i>
                </a>
            </div>

        </div>

    </div>

</section> --}}


{{!-- SIGNUP POPUP BOX

<section class="form-light">

    <div class="card">

        <div class="card-body mx-4">

            <div class="text-center">
                <h3 class="pink-text mb-5">
                    <strong>Sign up</strong>
                </h3>
            </div>

            <div class="md-form">
                <input type="text" id="Form-firstName" class="form-control">
                <label for="Form-firstName">First name</label>
            </div>

            <div class="md-form">
                <input type="text" id="Form-lastName" class="form-control">
                <label for="Form-lastName">Last name</label>
            </div>

            <div class="md-form">
                <input type="text" id="Form-email2" class="form-control">
                <label for="Form-email2">Your email</label>
            </div>

            <div class="md-form">
                <input type="password" id="Form-pass2" class="form-control">
                <label for="Form-pass2">Your password</label>
            </div>

            <div class="md-form pb-3">
                <input type="number" id="Form-zipcode" class="form-control">
                <label for="Form-zipcode">Your zipcode</label>
                <div class="form-group">
                    <input type="checkbox" id="checkbox">
                    <label for="checkbox" class="grey-text">Accept the
                        <a href="#" class="blue-text"> Terms and Conditions</a>
                    </label>
                </div>
            </div>

            <div class="row d-flex align-items-center mb-4">

                <div class="col-md-3 col-md-6 text-center">
                    <button type="button" class="btn btn-pink btn-block btn-rounded z-depth-1">Sign up</button>
                </div>
                
                <div class="col-md-6">
                    <p class="font-small grey-text d-flex justify-content-end">Have an account?
                        <a href="#" class="blue-text ml-1"> Log in</a>
                    </p>
                </div>

            </div>
        </div>

        <div class="footer pt-3 mdb-color lighten-3">

            <div class="row d-flex justify-content-center">
                <p class="font-small white-text mb-2 pt-3">or Sign up with:</p>
            </div>

            <div class="row mt-2 mb-3 d-flex justify-content-center">
                <a class="icons-sm fb-ic">
                    <i class="fa fa-facebook white-text fa-lg"> </i>
                </a>
                <a class="icons-sm tw-ic">
                    <i class="fa fa-twitter white-text fa-lg"> </i>
                </a>
                <a class="icons-sm gplus-ic">
                    <i class="fa fa-google-plus white-text fa-lg"> </i>
                </a>
            </div>

        </div>

    </div>

</section> --}}