{{!-- Start of Loading Overlay --}}
<div id="loadingOverlay">
    <div id="loadingContainer">
        <div class="loadingBlock"></div>
        <div class="loadingBlock"></div>
        <div class="loadingBlock"></div>
        <div class="loadingBlock"></div>
        <div class="loadingBlock"></div>
        <div class="loadingBlock"></div>
        <div class="loadingBlock"></div>
        <div class="loadingBlock"></div>
        <div class="loadingBlock"></div>
        <div class="loadingBlock"></div>
        <div class="loadingBlock"></div>
        <div class="loadingBlock"></div>
        <div class="loadingBlock"></div>
        <div class="loadingBlock"></div>
        <div class="loadingBlock"></div>
        <div class="loadingBlock"></div>
    </div>
</div>
{{!-- ./ of Loading Overlay --}}

{{!-- Start of Return to Top Button --}}
<a href="javascript:" id="return_to_top">
    <i class="fa fa-angle-double-up fa-5x"></i>
</a>
{{!-- ./Return to Top Button --}}


{{!-- Start 1st Parallax Scrolling Effect --}}
<div class="parallax_1 intro_section">
    <h1>Detail Devil</h1>
    <h2>Auto-Detailer booking so easy, it's <span>sinful</span></h2>
        <a href="/myaccount" class="intro_btn">Get Started</a>
</div>
{{!-- ./1st Parallax Scrolling Effect --}}


{{!-- Start of About Section --}}
<a name="about"></a>
<section class="about_section wrapper" id="about">
    <div class="service">
        <div class="service_icon">
            <i class="fa fa-map-marker fa-5x"></i>
        </div>
        <div class="service_details">
            <h3>Search Locally</h3>
                <p>Need an auto-detailer but don't know where to look? We've already done the legwork for you.</p>
        </div>
    </div>
    <div class="service">
        <div class="service_icon">
            <i class="fa fa-file-text-o fa-4x"></i>
        </div>
        <div class="service_details">
            <h3>Browse Packages</h3>
                <p>Find a comprehensive list of services and prices conveniently located in one place.</p>
        </div>
    </div>
    <div class="service">
        <div class="service_icon">
            <i class="fa fa-calendar fa-4x"></i>
        </div>
        <div class="service_details">
            <h3>Book Online</h3>
                <p>Pick, click, and done. Phone tag, voicemails, and being put on hold are a thing of the past.</p>
        </div>
    </div>

</section>
{{!-- ./About Section --}}


{{!-- Start 2nd Parallax Scrolling Effect --}}
<div class="parallax_2">
    <div class="inner_parallax_container">
        <span class="catchphrase">The Devil is in the Details</span>
    </div>
</div>
{{!-- ./2nd Parallax Scrolling Effect --}}

  

{{!-- Start of Testimonials Section --}}
<a name="testimonials"></a>
<section class="testimonials_section wrapper" id="testimonials">

    <span class="flow_line flow_top"></span>

    <h2>Testimonials</h2>
    <div class="testimonials_carousel" id="carousel">
        <div class="testimonial">
            <p>A couple years back I started my own business stealing and reselling luxury cars. It was always difficult to find buyers
                when the car was previously owned by a drug lord.. They aren't as careful about blood stains as you'd think. Then I found
                Detail Devil and business has never been better!
            </p>
            <p class="customer">Joey Gotti - Used Car Salesman</p>
        </div>
        <div class="testimonial">
            <p>Cleanliness is of the utmost importance to me. I'm a teensy bit perfectionist. I once tried to clean the engine myself: I ended
                up in the ER and my car ended up in the junkyard. While my eyebrows and fingernails may never grow back, I can rest easy
                knowing Detail Devil will do the scrubbing for me.
            </p>
            <p class="customer">Vivian Smith - Clean Freak</p>
        </div>
        <div class="testimonial">
            <p>I'm a dinosaur. I don't have a car. But if I did, I'd definitely use Detail Devil to find an auto-detailer near me. My arms are 
                too short to be of any use and my claws would rip the leather anyway. Better to let the pros handle it.
            </p>
            <p class="customer">Craig the Dinosaur - Aspiring Customer</p>
        </div>
        <div class="testimonial">
            <p>I'm really, really rich. I have a lot of expensive cars, mostly imported manual-drives--which I don't know how to drive--so they just
                sit and collect dust. I use Detail Devil to find auto-detailers who come to me, since I don't know how to drive a stick-shift. It's 
                been great. Money really can buy you happiness.
            </p>
            <p class="customer">Thad Wellington - Really, Really Rich</p>
        </div>
    </div>
    <div id="carousel_indicator"></div>

    <span class="flow_line flow_bottom"></span>

</section>
{{!-- ./Testimonials Section --}}


{{!-- Start 3rd Parallax Scrolling Effect --}}
<div class="parallax_3"></div>
{{!-- ./3rd Parallax Scrolling Effect --}}


{{!-- Start of Call to Action Section --}}
<section class="cta_section wrapper">
    <h3>Ready to make a deal with the Detail Devil?</h3>
    <a href="/myaccount" class="cta_btn">Sign Me Up!</a>

    <span class="cta_flow"></span>
</section>
{{!-- ./Call to Action Section --}}


{{!-- Start 4th Parallax Scrolling Effect --}}
<div class="parallax_4"></div>
{{!-- ./4th Parallax Scrolling Effect --}}


{{!-- Start of Contact Section --}}
<a name="contact"></a>
<section class="contact_section wrapper" id="contact">
        <div class="form_div">
        <form class="contact_form" id="contact_form">
            <h4 class="contact_heading">Tempted to Contact Us?</h4>
            <p class="contact_name">
                <input name="contact_name" type="text" class="form_element" id="contact_name" placeholder="John Doe" required />
            </p>
            <p class="contact_email">
                <input name="contact_email" type="text" class="form_element" id="contact_email" placeholder="john.doe@gmail.com" required />
            </p>
            <p class="contact_message">
                <textarea name="contact_message" class="form_element" id="contact_message" placeholder="I've got a question about servicing my Hell on wheels.." required></textarea>
            </p>
            <div class="contact_btn">
                <input type="submit" value="Send" id="contact_btn" />
            </div>
        </form>
    </div>
</section>
{{!-- ./Contact Section --}}

{{!-- Start 5th Parallax Scrolling Effect --}}
<div class="parallax_5"></div>
{{!-- ./5th Parallax Scrolling Effect --}}


{{!-- LOGIN OVERLAY --}} 