<div id="logindiv">
  <form class="form" action="/api/user/login" method="POST" id="login">
    <h3>Login Form</h3>
    <hr/>
    <label>E-mail : </label>
    <input type="email" class="email" name="email" placeholder="myemail@gmail.com" />
    <label>Password : </label>
    <input type="password" class="password" name="password" placeholder="************" />
    <hr/>
    <input type="submit" class="loginbtn" value="Login" />
    <a href="/">
    <input type="button" class="cancelbtn" value="Return" />
    </a>
  </form>
  <br>
    {{#if error}}
    <h3>{{error}}</h3>
    {{/if}}
</div>