/* Start of Google Fonts */
/* font-family: "Codystar", "Berlin Sans FB", sans-serif;
font-family: "Bungee Hairline", "Bauhaus 93", sans-serif;
font-family: "Josefin Sans", "Lucida Sans", sans-serif;
font-family: "Raleway Dots", "Century Gothic", sans-serif; */
/* ./Google Fonts */

/*  Start of General CSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  position: relative;
}

ul,
nav {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

.wrapper {
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
  position: relative;
}

#return_to_top i {
  position: fixed;
  z-index: 1030;
  bottom: 30px;
  right: 30px;
  color: #9cff40;
  display: block;
  text-decoration: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#return_to_top i:hover {
  color: #dcff40;
}

.flow_line {
  display: block;
  width: 13.5px;
  height: 100px;
}

.flow_line:after {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background: #dedede;
  margin: 0 auto;
}

.flow_top {
  border-bottom: 1px #dedede solid;
  margin: 0 auto 40px auto;
}

.flow_bottom {
  border-top: 1px #dedede solid;
  margin: 40px auto 0 auto;
}

::selection {
  color: #ffffff;
  background: #8cff5e;
}
::-moz-selection {
  color: #ffffff;
  background: #8cff5e;
}
/* ./General CSS */

/* Start of Loading Overlay */
#loadingOverlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
  background-color: #000;
}

#loadingContainer {
  width: 80px;
  height: 100px;
  margin: 100px auto;
  margin-top: calc(100vh / 2 - 50px);
}

.loadingBlock {
  position: relative;
  box-sizing: border-box;
  float: left;
  margin: 0 0.7vw 0.7vw 0;
  width: 0.8vw;
  height: 0.8vw;
  border-radius: 0.2vw;
  background: rgb(255, 117, 117);
}

.loadingBlock:nth-child(4n + 1) {
  animation: wave 2s ease 0s infinite;
}

.loadingBlock:nth-child(4n + 2) {
  animation: wave 2s ease 0.2s infinite;
}

.loadingBlock:nth-child(4n + 3) {
  animation: wave 2s ease 0.4s infinite;
}

.loadingBlock:nth-child(4n + 4) {
  animation: wave 2s ease 0.6s infinite;
  margin-right: 0;
}

@keyframes wave {
  0% {
    top: 0;
    opacity: 1;
  }
  50% {
    top: 2.5vw;
    opacity: 0.2;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
/* ./ of Loading Overlay */

/*  Start of Navbar CSS*/
.navbar-default {
  font-family: "Codystar", "Berlin Sans FB", sans-serif;
  font-weight: 900;
  line-height: 20px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.navbar-default .navbar-header .navbar-brand {
  font-size: 16px;
  letter-spacing: 10px;
  color: #fff;
  -webkit-animation: neonNav 1.5s ease-in-out infinite alternate;
  -moz-animation: neonNav 1.5s ease-in-out infinite alternate;
  animation: neonNav 1.5s ease-in-out infinite alternate;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
  color: #fff;
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
}

.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  font-size: 14px;
  letter-spacing: 5px;
  color: #fff;
  -webkit-animation: neonNav 1.5s ease-in-out infinite alternate;
  -moz-animation: neonNav 1.5s ease-in-out infinite alternate;
  animation: neonNav 1.5s ease-in-out infinite alternate;
}

.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
  color: #fff;
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a,
.navbar-default .navbar-nav .open .dropdown-menu {
  text-align: center;
  padding: 12px 25px;
  font-size: 14px;
  letter-spacing: 10px;
  font-weight: 700;
  color: #fff;
  background-color: rgb(252, 29, 29);
  -webkit-animation: neonNav 1.5s ease-in-out infinite alternate;
  -moz-animation: neonNav 1.5s ease-in-out infinite alternate;
  animation: neonNav 1.5s ease-in-out infinite alternate;
}

.navbar-default.affix {
  border: 0.1px solid rgba(41, 40, 40, 0.774);
  background-color: rgba(17, 17, 17, 0.8);
  box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.1);
}

.navbar-default.affix .navbar-header .navbar-brand {
  color: #fff;
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
}

.navbar-default.affix .navbar-header .navbar-brand:hover,
.navbar-default.affix .navbar-header .navbar-brand:focus {
  color: #fff;
  -webkit-animation: neonNav 1.5s ease-in-out infinite alternate;
  -moz-animation: neonNav 1.5s ease-in-out infinite alternate;
  animation: neonNav 1.5s ease-in-out infinite alternate;
}

.navbar-default.affix .nav > li > a,
.navbar-default.affix .nav > li > a:focus {
  color: #fff;
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
}

.navbar-default.affix .nav > li > a:hover,
.navbar-default.affix .nav > li > a:focus:hover {
  color: #fff;
  -webkit-animation: neonNav 1.5s ease-in-out infinite alternate;
  -moz-animation: neonNav 1.5s ease-in-out infinite alternate;
  animation: neonNav 1.5s ease-in-out infinite alternate;
}

@-webkit-keyframes neonNav {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff1177,
      0 0 70px #ff1177, 0 0 80px #ff1177, 0 0 100px #ff1177, 0 0 150px #ff1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff1177,
      0 0 35px #ff1177, 0 0 40px #ff1177, 0 0 50px #ff1177, 0 0 75px #ff1177;
  }
}
/* ./Navbar CSS*/

/* Start of Parallax CSS */
.parallax_1,
.parallax_2,
.parallax_3,
.parallax_4,
.parallax_5 {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.parallax_1 {
  background-image: url("/assets/images/neon_car_1.jpg");
  min-height: 100vh;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
}

.parallax_2 {
  background-image: url("/assets/images/neon_car_2.jpg");
  min-height: 400px;
}

.parallax_3 {
  background-image: url("/assets/images/neon_car_3.jpg");
  min-height: 400px;
}

.parallax_4 {
  background-image: url("/assets/images/neon_car_4.jpg");
  min-height: 400px;
}

.parallax_5 {
  background-image: url("/assets/images/neon_car_1.jpg");
  min-height: 400px;
}

.intro_section {
  position: relative;
  justify-content: center;
  color: #fff;
  text-align: center;
  padding: 40px 100px;
}

.intro_section h1 {
  text-transform: uppercase;
  color: #fff;
  font-size: 100px;
  font-family: "Raleway Dots", "Century Gothic", sans-serif;
  font-weight: normal;
  letter-spacing: 25px;
  margin-bottom: 18px;
}

.intro_section h2 {
  font-family: "Bungee Hairline", "Bauhaus 93", sans-serif;
  color: rgba(255, 255, 255, 0.8);
  font-style: italic;
  font-weight: 900;
  font-size: 22px;
  letter-spacing: 5px;
  margin-top: 10px;
  margin-bottom: 85px;
}

.intro_section h2 span {
  color: #ff3500;
  font-size: 23px;
  font-weight: 900;
  letter-spacing: 6px;
}

.intro_section a.intro_btn {
  font-size: 20px;
  font-family: "Codystar", "Berlin Sans FB", sans-serif;
  font-weight: normal;
  text-decoration: none;
  letter-spacing: 10px;
  color: rgba(255, 255, 255, 0.911);
  background-color: rgba(17, 17, 17, 0.8);
  border: 0;
  text-align: center;
  padding: 24px 28px;
  margin-bottom: 85px;
}

.intro_section a.intro_btn:hover {
  color: #fff;
  background: #aaffa9;
  background: -webkit-linear-gradient(to right, #11ffbd, #aaffa9);
  background: linear-gradient(to right, #11ffbd, #aaffa9);
}

.intro_section a.intro_btn:active {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}

.inner_parallax_container {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.inner_parallax_container span.catchphrase {
  background-color: rgba(17, 17, 17, 0.8);
  color: #fff;
  padding: 22px;
  font-size: 32px;
  font-family: "Bungee Hairline", "Bauhaus 93", sans-serif;
  letter-spacing: 10px;
  font-weight: 900;
}
/* ./Parallax CSS */

/*  Start of About Section CSS*/
.about_section {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  background: #fff;
  overflow: hidden;
}

.about_section .service {
  display: block;
  width: 28.83333333333333%;
  height: auto;
  float: left;
  margin-right: 6.666666666666667%;
}

.about_section .service:nth-child(3n + 0) {
  margin-right: 0;
}

.service .service_icon {
  display: block;
  width: 18.78612716763006%;
  float: left;
  margin-right: 3%;
  color: #ff3500;
}

.service .service_details {
  display: block;
  width: 69.36416184971098%;
  float: left;
}

.service h3 {
  margin-bottom: 20px;
  color: #dd001ac2;
  font-size: 21px;
  letter-spacing: 2px;
  font-weight: 900;
  text-align: left;
  font-family: "Codystar", "Berlin Sans FB", sans-serif;
}

.service p {
  color: #797777;
  font-family: "Josefin Sans", "Lucida Sans", sans-serif;
  font-size: 20px;
  line-height: 34px;
  letter-spacing: 2px;
  text-align: left;
}
/* ./About Section CSS*/

/*  Start of Testimonials Section CSS*/
.testimonials_section {
  text-align: center;
}

.testimonials_section h2 {
  font-family: "Codystar", "Berlin Sans FB", sans-serif;
  font-weight: 900;
  font-size: 40px;
  margin-bottom: 45px;
  letter-spacing: 10px;
  color: #ff008c;
}

.caroufredsel_wrapper {
  max-width: 1040px !important;
  margin: 0 auto !important;
}

.testimonials_section .testimonials_carousel {
  max-width: 1040px !important;
  height: auto;
  overflow: hidden;
}

.testimonials_section .testimonials_carousel .testimonial {
  max-width: 1040px !important;
  text-align: center;
  float: left;
  height: auto;
}

.testimonials_section p {
  color: #797777;
  font-family: "Josefin Sans", "Lucida Sans", sans-serif;
  font-size: 22px;
  line-height: 45px;
  letter-spacing: 2px;
}

.testimonials_section p.customer {
  color: #575757;
  font-family: "Josefin Sans", "Lucida Sans", sans-serif;
  font-size: 21px;
  letter-spacing: 4px;
  margin-top: 45px;
}

.testimonials_section #carousel_indicator a {
  display: inline-block;
  width: 13px;
  height: 13px;
  background: #ff62a4;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 40px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -o-border-radius: 100px;
}

.testimonials_section #carousel_indicator a.selected {
  background: #ff008c;
}
/* ./Testimonials Section CSS*/

/*  Start of Call To Action Section CSS*/
.cta_section {
  display: block;
  text-align: center;
  padding-top: 80px;
  background: #fff;
}

.cta_section h3 {
  color: #000;
  font-family: "Bungee Hairline", "Bauhaus 93", sans-serif;
  font-size: 50px;
  font-weight: 900;
  letter-spacing: 5px;
  line-height: 64px;
}

.cta_section a.cta_btn {
  display: inline-block;
  padding: 20px 60px;
  font-family: "Codystar", "Berlin Sans FB", sans-serif;
  font-weight: 900;
  font-size: 26px;
  text-decoration: none;
  text-align: center;
  margin-top: 60px;
  text-transform: uppercase;
  letter-spacing: 12px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  color: #fff;
  background: #d31027;
  background: -webkit-linear-gradient(to right, #ea384d, #d31027);
  background: linear-gradient(to right, #ea384d, #d31027);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  animation: pulseRed 1.5s cubic-bezier(0.66, 0.67, 0.83, 0.99) infinite;
}

@keyframes pulseRed {
  0% {
    outline: 1px solid #d31027;
    outline-offset: 0px;
  }
  30% {
    outline: 1px solid rgba(211, 16, 39, 0.7);
    outline-offset: 10px;
  }
  60% {
    outline: 1px solid rgba(211, 16, 39, 0);
    outline-offset: 20px;
  }
  100% {
    outline: 1px solid rgba(211, 16, 39, 0);
    outline-offset: 60px;
  }
}

.cta_section a.cta_btn:hover {
  background: #aaffa9;
  background: -webkit-linear-gradient(to right, #11ffbd, #aaffa9);
  background: linear-gradient(to right, #11ffbd, #aaffa9);
  animation: pulseGreen 1.5s cubic-bezier(0.66, 0.67, 0.83, 0.99) infinite;
}

@keyframes pulseGreen {
  0% {
    outline: 1px solid #1d976c;
    outline-offset: 0px;
  }
  30% {
    outline: 1px solid rgba(29, 151, 108, 0.7);
    outline-offset: 10px;
  }
  60% {
    outline: 1px solid rgba(29, 151, 108, 0);
    outline-offset: 20px;
  }
  100% {
    outline: 1px solid rgba(29, 151, 108, 0);
    outline-offset: 60px;
  }
}

.cta_section a.cta_btn:active {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}

.cta_section .cta_flow {
  display: block;
  width: 1px;
  height: 100px;
  background: #dedede;
  margin: 0 auto;
}
/* ./Call To Action Section CSS*/

/*  Start of Contact Section CSS*/
.contact_section {
  width: 100%;
  height: 650px;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
}

.contact_heading {
  font-family: "Bungee Hairline", "Bauhaus 93", sans-serif;
  font-size: 40px;
  letter-spacing: 7px;
  line-height: 60px;
  font-weight: 900;
  padding: 15px;
  color: #000;
  text-align: center;
  margin-bottom: 10px;
}

.form_div {
  width: 850px;
  height: auto;
  padding: 0 35px 35px 35px;
  position: absolute;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.form_element {
  color: #fff;
  background-color: #000;
  font-weight: 700;
  font-family: "Josefin Sans", "Lucida Sans", sans-serif;
  font-size: 22px;
  letter-spacing: 3px;
  text-align: left;
  border: 0;
  margin-bottom: 10px;
  padding: 15px;
  width: 800px;
}

.form_element:hover {
  background-color: #b2fefa;
  color: #fff;
}

.form_element:focus {
  background-color: #0ed2f7;
  color: #fff;
  outline: none;
}

textarea {
  width: 100%;
  height: 220px;
  line-height: 150%;
  resize: none;
  overflow-y: scroll;
  color: #fff;
}

#contact_btn {
  float: left;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  width: 100%;
  font-weight: 900;
  font-family: "Codystar", "Berlin Sans FB", sans-serif;
  font-size: 22px;
  letter-spacing: 15px;
  border: 0;
  padding-top: 18px;
  padding-bottom: 18px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: #000;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.8);
}

#contact_btn:hover {
  border: 0;
  color: #fff;
  background: #b2fefa;
  background: -webkit-linear-gradient(to right, #0ed2f7, #b2fefa);
  background: linear-gradient(to right, #0ed2f7, #b2fefa);
}

#contact_btn:active {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}
/* ./Contact Section CSS*/

/*  Start of Footer CSS*/
footer {
  border-top: 1px #dedede solid;
  background: #fff;
  text-align: center;
}

p#social_heading.txt-railway {
  font-family: "Codystar", "Berlin Sans FB", sans-serif;
  font-weight: 900;
  letter-spacing: 7px;
  font-size: 26px;
  line-height: 30px;
  margin-bottom: 0;
  color: #000;
}

.social {
  color: #000;
  margin: 5px;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}

.social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

#social_gp:hover {
  color: #f02f1b;
}

#social_fb:hover {
  color: #3d4ba3;
}

#social_pi:hover {
  color: #d00000;
}

#social_tw:hover {
  color: #009df6;
}

.rights {
  padding-bottom: 20px;
}

.rights p {
  font-family: "Bungee Hairline", "Bauhaus 93", sans-serif;
  font-size: 14px;
  margin-bottom: 0;
}

.sup {
  vertical-align: super;
  font-size: 10px;
}
/* ./Footer CSS*/

/* Start of My Account CSS */
.account_background {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
    -45deg,
    #01ff95,
    #02c7ad,
    #019ac0,
    #0084ff,
    #7006fc
  );
  background-size: 400% 400%;
  -webkit-animation: neonGradient 20s ease infinite;
  -moz-animation: neonGradient 20s ease infinite;
  animation: neonGradient 20s ease infinite;
}

@-webkit-keyframes neonGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes neonGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes neonGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.account_container {
  height: 100%;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
}

.row {
  width: auto;
}

form.account_form {
  font-family: "Josefin Sans", "Lucida Sans", sans-serif;
  font-size: 18px;
  background-color: rgba(17, 17, 17, 0.8);
  margin: 10px;
  padding: 20px 50px;
  width: 575px;
}

form#signup {
  height: 720px;
}

form#login {
  height: 490px;
}

h3.account_heading {
  text-align: center;
  font-family: "Bungee Hairline", "Bauhaus 93", sans-serif;
  font-size: 38px;
  font-weight: 900;
  letter-spacing: 6px;
  margin-top: 40px;
}

h3#signup_heading {
  color: rgb(0, 217, 255);
}

h3#login_heading {
  color: rgb(0, 255, 179);
}

.account_form label {
  display: block;
  color: #fff;
  font-family: "Codystar", "Berlin Sans FB", sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 4px;
  padding: 10px 0;
  margin: 0;
}

.account_form input {
  display: block;
  width: 100%;
  padding: 6px 8px;
  letter-spacing: 2px;
  color: #000;
}

div.btn_container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: auto;
}

input.account_btn {
  text-align: center;
  width: 128px;
  padding: 10px 0;
  margin: 30px 0;
  border: 0;
  color: #fff;
  font-weight: 900;
  font-size: 20px;
  font-family: "Bungee Hairline", "Bauhaus 93", sans-serif;
  letter-spacing: 3px;
}

input.signup_btn {
  background-color: rgb(0, 217, 255);
}

input.login_btn {
  background-color: rgb(0, 255, 179);
}

input.account_btn:hover {
  text-decoration: none;
  outline: 0;
  background-color: #fff;
}

input.signup_btn:hover {
  color: rgb(0, 217, 255);
}

input.login_btn:hover {
  color: rgb(0, 255, 179);
}

input.account_btn:active {
  text-decoration: none;
  outline: 0;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}
/* ./My Account CSS */

/*  Start of Detail-React CSS*/
.detail_background {
  width: 100%;
  min-height: 100vh;
  background-image: url("/assets/images/neon_car_1.jpg");
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
}

/* .nats-table:hover {
    font-weight: 700;
} */

tr:hover {
  background-color: rgb(255, 66, 66);
  color: #fff;
}

.nats-table {
  cursor: pointer;
  font-family: "Josefin Sans", "Lucida Sans", sans-serif;
  font-size: 16px;
  font-weight: 900;
  color: #797777;
  letter-spacing: 2px;
  background-color: rgba(255, 255, 255, 0.8);
}

.nat-header {
  font-weight: 900;
  letter-spacing: 5px;
  font-family: "Bungee Hairline", "Bauhaus 93", sans-serif;
  color: #fff;
  margin-top: 120px;
}

a {
  color: rgb(255, 66, 66);
  letter-spacing: 4px;
  font-weight: 700;
  text-decoration: none;
}

a:hover {
  color: #fff;
}

th {
  font-family: "Josefin Sans", "Lucida Sans", sans-serif;
  color: #454545;
  letter-spacing: 4px;
  font-weight: bolder;
}

thead {
  padding: 60px;
  background-color: rgb(240, 240, 240);
}

thead:hover {
  background-color: rgb(240, 240, 240);
}

td {
  padding: 50px;
}

div.col-lg-1.col-md-1.col-sm-1 {
  text-align: center;
  margin-right: 7px;
  padding: 15px 0;
}

a.detail_btn {
  margin: 30px;
  color: #fff;
  font-weight: 900;
  font-family: "Codystar", "Berlin Sans FB", sans-serif;
  letter-spacing: 5px;
}

a.detail_btn: hover {
  color: rgb(253, 158, 135);
}
/* ./Detail-React CSS */

/* Start of Booking CSS */
.booking_background {
  width: 100%;
  min-height: 100vh;
  color: #fff;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    -45deg,
    #ffff6b,
    #fad635,
    #ff934c,
    #f8715c,
    #ff556c,
    #e60026
  );
  background-size: 400% 400%;
  -webkit-animation: fireGradient 15s ease infinite;
  -moz-animation: fireGradient 15s ease infinite;
  animation: fireGradient 15s ease infinite;
}

@-webkit-keyframes fireGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes fireGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes fireGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.booking_container {
  margin: 120px 200px;
}

.booking_container h1 {
  text-align: center;
  font-family: "Bungee Hairline", "Bauhaus 93", sans-serif;
  font-size: 60px;
  font-weight: 900;
  letter-spacing: 6px;
  color: #fff;
}

.order_summary {
  background-color: rgba(17, 17, 17, 0.8);
  color: #fff;
  font-family: "Josefin Sans", "Lucida Sans", sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 33px;
  margin: 40px 0;
  padding: 50px 100px;
}

.order_summary h2 {
  font-style: italic;
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 4px;
  color: rgba(255, 255, 255, 0.8);
}

.order_summary .order_details span {
  font-family: "Codystar", "Berlin Sans FB", sans-serif;
  font-weight: 900;
  font-size: 22px;
  letter-spacing: 5px;
  color: #fd968a;
}

.order_summary .order_total {
  font-size: 23px;
  font-weight: 800;
  letter-spacing: 4px;
  color: #fcbab2;
  text-align: center;
}

.form-control {
  padding: 12px;
}

label.control-label {
  font-family: "Josefin Sans", "Lucida Sans", sans-serif;
  color: #fff;
  font-size: 18px;
  letter-spacing: 2px;
  margin: 0;
  padding: 3px;
}

div.divider_bg {
  background-color: rgba(17, 17, 17, 0.8);
  padding: 10px;
}

.input-xlarge {
  color: rgba(17, 17, 17, 0.8);
}

button#booking_btn {
  float: left;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  width: 100%;
  font-weight: 900;
  font-family: "Bungee Hairline", "Bauhaus 93", sans-serif;
  font-size: 26px;
  letter-spacing: 16px;
  border: 0;
  padding: 22px 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: #fff;
  background-color: #000;
}

button#booking_btn:hover {
  text-decoration: none;
  outline: 0;
  background: #136a8a;
  background: -webkit-linear-gradient(to right, #267871, #136a8a);
  background: linear-gradient(to right, #267871, #136a8a);
}

button#booking_btn:active {
  text-decoration: none;
  outline: 0;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}

p.disclaimer {
  color: #fff;
  font-size: 15px;
  margin-bottom: 30px;
}

.modal-content {
  color: #000;
  background-color: #fff;
  font-family: "Josefin Sans", "Lucida Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  padding: 15px;
}

.modal-header {
  color: #fc2868;
  font-family: "Codystar", "Berlin Sans FB", sans-serif;
  font-weight: 900;
  letter-spacing: 7px;
  text-align: center;
}

h5.email_note {
  font-size: 14px;
  font-style: italic;
  text-align: center;
}

h4.confirmation_summary {
  text-align: center;
  font-size: 19px;
  font-weight: 900;
  letter-spacing: 4px;
  margin-bottom: 12px;
  color: rgba(0, 0, 0, 0.8);
}

.confirmation_details span {
  font-family: "Codystar", "Berlin Sans FB", sans-serif;
  font-weight: 900;
  font-size: 18px;
  letter-spacing: 2px;
  color: #fc2868;
}

.confirmation_total {
  text-align: center;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 4px;
  color: #fa4d81;
}

button#confirmation_btn {
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  width: 100%;
  font-weight: 900;
  font-family: "Bungee Hairline", "Bauhaus 93", sans-serif;
  font-size: 22px;
  letter-spacing: 10px;
  border: 0;
  padding: 10px 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: #fff;
  background-color: #000;
}

button#confirmation_btn:hover {
  text-decoration: none;
  outline: 0;
  background: #ff9966;
  background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);
  background: linear-gradient(to right, #ff5e62, #ff9966);
}

button#confirmation_btn:active {
  text-decoration: none;
  outline: 0;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}
/* ./ of Booking CSS */

/*  Media Queries */
@media screen and (min-width: 1500px) {
  #loadingOverlay {
    display: none;
  }
}

@media screen and (max-width: 1180px) {
  .wrapper {
    padding: 0 40px;
  }
  #loadingOverlay {
    display: none;
  }
  .intro_section h1 {
    font-size: 90px;
    letter-spacing: 10px;
  }
  .glyphicon {
    color: #fff;
  }
}

@media screen and (max-width: 992px) {
  .initial_section .catchphrase {
    text-align: center;
    margin-left: 0;
  }
  .cta_section {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1325px) {
  .booking_container h1 {
    font-size: 50px;
  }
  .intro_section h2 {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 1215px) {
  /*.parallax {
        background-attachment: scroll;
    } */
  .navbar-default {
    color: #fff;
    background-color: #000;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
  }
  .navbar-default .navbar-header .navbar-brand {
    color: #fff;
    size: 10px;
    letter-spacing: 1px;
  }
  .navbar-default .nav > li > a,
  .navbar-default .nav > li > a:focus {
    font-size: 14px;
    letter-spacing: 1px;
  }
  .glyphicon {
    color: #fff;
    font-size: 16px;
  }
  .glyphicon:hover,
  .glyphicon:focus {
    color: #ff1313;
    -webkit-animation: none;
  }
  .navbar-default .navbar-header .navbar-brand {
    color: #fff;
  }
  .navbar-default .navbar-header .navbar-brand:hover,
  .navbar-default .navbar-header .navbar-brand:focus {
    color: #ff1313;
    -webkit-animation: none;
    background-color: #fff;
  }
  .navbar-default .nav > li > a,
  .navbar-default .nav > li > a:focus {
    color: #fff;
  }
  .navbar-default .nav > li > a:hover,
  .navbar-default .nav > li > a:focus:hover {
    color: #ff1313;
    -webkit-animation: none;
    background-color: #fff;
  }
  .navbar-default .nav > li.active > a,
  .navbar-default .nav > li.active > a:focus {
    color: #f8ed52 !important;
    background-color: transparent;
  }
  .navbar-default .nav > li.active > a:hover,
  .navbar-default .nav > li.active > a:focus:hover {
    background-color: transparent;
  }
  .parallax_2,
  .parallax_3,
  .parallax_4,
  .parallax_5 {
    height: 100px;
  }
  .intro_section h2 {
    font-size: 24px;
    letter-spacing: 2px;
  }
  .intro_section h2 span {
    font-size: 25px;
  }
  .intro_section a.intro_btn {
    font-size: 18px;
  }
  div.service_icon {
    font-size: 16px;
  }
  .about_section .service {
    font-size: 22px;
    width: 28%;
    margin: 20px;
  }
  .about_section .service:nth-child(2n + 2) {
    margin-right: 0 !important;
  }
  .service h3 {
    font-size: 16px;
  }
  .service p {
    font-size: 16px;
    line-height: 18px;
  }
  .booking_container {
    margin: 80px 60px;
  }
  .order_summary {
  }
  form.account_form {
    width: 100%;
  }
  ul.social {
    display: none;
  }
  .rights p {
    font-size: 10px;
  }
}

@media (max-width: 530px) {
  .about_section .service {
    width: 100%;
    margin-right: 0 !important;
  }
  #form_div {
    left: 3%;
    margin-right: 3%;
    width: 88%;
    margin-left: 0;
    padding-left: 3%;
    padding-right: 3%;
  }
  p#social_heading.txt-railway {
    font-size: 18px;
  }
}
